.text__litletitle {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

span {
	font-weight: 400;
	line-height: 19px;
	color: #c4c4c4;
}

.big-title {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #222222;
	margin-bottom: 24px;
}

.big-title-white {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: white;
	margin-bottom: 24px;
}

.regular-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #222222;
}

.regular-textbold {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #212121;
}

.regular-textboldwhite {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}

.regular-textwhite {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.regular-textwhite p {
	width: 293px;
	height: 55px;
	background: url(../img/sectionnine/vector479.png) 0 50px no-repeat;
}

.regularlitle-textbold {
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #2d2d2d;
}

.regularlitle-texttransparent {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(140, 140, 140, 0.56);
}

.big-titlesecond {
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	color: #2d2d2d;
}

.big-titlesecondwhite {
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	color: white;
}
