.section-second__on-line-education {
	display: flex;
	justify-content: space-between;
	margin-top: 67px;
	margin-bottom: 120px;
}

.section-second__on-line-education_columnbackground {
	width: 55px;
	height: 55px;
	background: rgba(81, 145, 255, 0.12);
	border-radius: 16px;
	margin-bottom: 29px;
}

.section-second__on-line-education_columntext {
	width: 200px;
}

.section-second__positionsvg {
	position: relative;
	left: 16px;
	top: 15px;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.section-second__on-line-education_column1 {
	opacity: 0;
	animation-name: show;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.section-second__on-line-education_column2 {
	opacity: 0;
	animation: show 2s linear 1 2s forwards;
}

.section-second__on-line-education_column3 {
	opacity: 0;
	animation: show 2s linear 1 3s forwards;
}

.section-second__on-line-education_column4 {
	opacity: 0;
	animation: show 2s linear 1 4s forwards;
}

.section-second__on-line-education_column5 {
	opacity: 0;
	animation: show 2s linear 1 5s forwards;
}

.section-second__advantages-list {
	margin-top: 67px;
	margin-bottom: 174px;
}

.section-second__advantages-list_text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #222222;
	padding: 16px 0 15px 65px;
	background: url(../img/sectionsecond/vector479.svg) 10px no-repeat,
		url(../img/sectionsecond/rectangle49.png) left no-repeat;
}

@keyframes advantages {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.section-second__advantages-list_text1 {
	opacity: 0;
	animation-name: advantages;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.section-second__advantages-list_text2 {
	opacity: 0;
	animation: advantages 2s linear 1 2s forwards;
}

.section-second__advantages-list_text3 {
	opacity: 0;
	animation: advantages 2s linear 1 3s forwards;
}

.section-second__advantages-list_text4 {
	opacity: 0;
	animation: advantages 2s linear 1 4s forwards;
}

.section-second__advantages-list_text5 {
	opacity: 0;
	animation: advantages 2s linear 1 5s forwards;
}

.section-second__advantages-list_text6 {
	opacity: 0;
	animation: advantages 2s linear 1 6s forwards;
}
